/* Style page content */

@font-face {
	font-family: "OpenSans";
	src: url("./OpenSans-Regular.ttf") format("ttf");
	font-weight: 600;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
}

.main {
	font-family: "Lucida Sans", Geneva, Verdana, sans-serif;
	margin-left: 300px; /* Same as the width of the sidebar */
	padding-left: 40px;
}

ul {
	padding: 0;
	list-style-type: none;
}

/* The sidebar menu */
.sideNav {
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 300px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #fafafa;
	color: #aaaaaa;
	overflow-x: hidden; /* Disable horizontal scroll */
	margin-top: 45px;
}

.sideNavHeader {
	font-family: "Lucida Sans", Geneva, Verdana, sans-serif;
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	color: #333333;
	display: block;
}

.sideNavLinks {
	font-family: "Lucida Sans", Geneva, Verdana, sans-serif;
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 12px;
	color: #333333;
	display: block;
}

.sideNavLinks:hover {
	background-color: #ececec;
}

.topNav {
	background-color: #ff9000;
	padding: 0px;
	height: 45px;
	overflow: hidden;
}

.topNav a {
	font-family: "Lucida Sans", Geneva, Verdana, sans-serif;
	float: left;
	color: #fff9ca;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topNav a:hover {
	background-color: #ffa633;
}

.todoItemList {
    margin-right: 40px;
	list-style-type: none;
	font-family: "Lucida Sans", Geneva, Verdana, sans-serif;
	text-decoration: none;
	padding: 7px;
	border-top: 1px solid #cccccc;
	font-size: 14px;
}

.todoItemList:hover {
	background-color: #bebebe49;
}


.todoItemListHeader {
    margin-right: 40px;
	font-family: "Lucida Sans", Geneva, Verdana, sans-serif;
	padding: 5px;
	font-size: 20px;
}



/* Modal todo information styles */

.modal {
	display: block; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }